* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-size: 15px;
    font-family: "Lexend Deca";
}


.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 10% 20%;

}

.items h1{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Big Shoulders Display";
    font-weight: 700;
    font-size: 2.5rem;
}

.items p{
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    line-height: 150%;
}

.item1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
    padding: 15%;
    
}

.item2{
    background-color: hsl(184, 100%, 22%);
    padding: 15%;
}

.item3{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
    padding: 15%;
}

button{
    height: 50px;
    width: 130px;
    border: 3px solid white;
    border-radius: 30px;
    margin-top: 20px;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: transparent;
}